a {
  color: whitesmoke;
  text-decoration: none;
  font-style: italic;
}
a:hover {
  text-decoration: underline;
  color: white;
}
body {
  background-color: #667997;
  font-family: Segoe UI, Segoe WP, Arial, Sans-Serif;
  color: whitesmoke;
  font-size: 16px;
}

h1 {
  height: 24px;
  line-height: 24px;
}
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 20px auto;
  line-height: 22px;
}

.app-wrapper {
  max-width: 650px;
  margin: 40px auto 5px;
}
.current-time,
.current-other-properties li {
  font-size: 12px;
  font-weight: lighter;
  line-height: 16px;
}

.current-other-properties ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.current-other-properties li {
  display: inline-block;
}
.feels-like {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
  margin-right: 12px;
}
.feels-like-temp,
.w-short-description .unit {
  font-size: 14px;
  line-height: 22px;
}
.info-icon {
  width: 10px;
  height: 10px;
}

.label-weather,
.short-description {
  height: 22px;
  line-height: 22px;
  font-weight: bold;
}
.search-form input {
  background-color: #667997;
  color: white;
  border: none;
  width: calc(100% - 60px);
  height: 32px;
  margin-left: 6px;
  border-radius: 45px;
  padding-left: 10px;
  text-align: left;
}
.search-form input::placeholder {
  color: white;
}
.short-description {
  font-size: 18px;
}
.tonka-current-weather {
  padding: 30px;
  border: 1px solid #667997;
  border-radius: 6px;
  background-image: url("https://assets.msn.com/weathermapdata/1/static/background/v2.0/compactads3/Cloudy%202.png");
  background-color: #334463;
  background-size: cover;
}
.w-short-description ul {
  padding-top: 20px;
}

.weather-temperature img {
  margin-right: 8px;
  aspect-ratio: auto 76 / 76;
}

.weather-temperature strong {
  font-size: 60px;
  line-height: -1;
  font-weight: lighter;
}

.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -30px;
  box-sizing: unset;
}

.suggestionContainer-E1_2 {
  right: 0px;
  padding-right: 10px;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  box-shadow: none;
  color: unset;
  backdrop-filter: blur(60px);
  background-color: #4a4a4a;
  border-color: #bebebe;
  margin-left: 0px !important;
  flex-wrap: wrap;
  padding: 0;
}
